.login {
  &__container {
    display: flex;
    overflow: hidden;

    border-radius: 10px;

    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  }

  &__form {
    display: flex;
    flex-direction: column;

    width: 400px;
    max-width: 400px;
    min-height: 350px;

    padding: 3rem !important;

    background: var(--white);
  }
}

.login_reg_separator {
  width: 100%;
  overflow: hidden;
  margin-bottom: 1rem;

  text-align: center;
  white-space: nowrap;

  & > span {
    position: relative;

    display: inline-block;

    color: #4b4f56;

    &::before,
    &::after {
      content: '';

      position: absolute;
      top: 50%;

      width: 9999px;
      height: 1px;

      background: #ccd0d5;
    }

    &::before {
      right: 100%;
      margin-right: 15px;
    }

    &::after {
      left: 100%;
      margin-left: 15px;
    }
  }
}

.login__right-panel {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 1rem;

  width: 350px;
  max-width: 350px;
  padding: 3rem !important;

  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(4px);

  & > h2 {
    margin-bottom: 0.5rem !important;

    font-size: 1.75rem !important;
    font-weight: 500 !important;
    line-height: 1.2 !important;
    text-align: center;

    color: var(--white) !important;
  }

  & > span {
    margin-bottom: 1rem !important;

    color: var(--white) !important;
  }

  & > button {
    background-color: transparent !important;

    color: var(--white) !important;

    &:hover {
      border-color: var(--white);

      background-color: var(--white) !important;

      color: var(--primary) !important;
    }
  }
}
