.chat__messages {
  flex: 1;
  padding: 20px 30px;

  overflow-y: auto;

  background: #fff;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 4px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: #bcc0c4;
  }
}

.chat__message {
  position: relative;
  width: fit-content;
  border-radius: 20px;

  white-space: pre-wrap;

  @media (min-width: 320px) {
    max-width: 85%;
  }

  @media (min-width: 920px) {
    box-sizing: content-box;
    max-width: 70%;
  }

  @media (min-width: 1211px) {
    max-width: 55%;
  }
}

.chat__message-sender {
  margin-left: auto;

  background-color: #0084ff;
  color: #fff;

  & + .chat__message-receiver {
    margin-top: 15px;
  }
}

.chat__message-receiver {
  background-color: #f1f1f0;
  color: #000;

  & + .chat__message-sender {
    margin-top: 15px;
  }
}

.chat__messageText {
  margin: 1px 0;
  padding: 6px 12px 7px;

  font-size: 16px;
  word-wrap: break-word;

  & span {
    line-height: 1.34;
  }
}
