@import '~antd/dist/antd.css';
@import '~emoji-mart/css/emoji-mart.css';
@import './assets/css/variable';

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.ant-typography h5,
h5.ant-typography {
  margin-bottom: 0.5em;
  color: rgba(0, 0, 0, 0.85);
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
}

.text-capitalize {
  text-transform: capitalize;
}

.text-bold {
  font-weight: bold;
}

.text-center {
  text-align: center;
}
